
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@plugin "daisyui" {
    themes: false;
}

@theme {
    --color-darkNav: #1D1F1F;
    --color-dark: #161717;
    --color-lightNav: #F7F5F3;
    --color-light: #FFFFFF;
    --color-NavLightTxt: #636261;
    --color-NavDarkTxt: #A5A5A5;
    --color-btnPrimary: #21C063;
    --color-btnSecondary: #4ade80;
    --color-txtLight: oklch(70.8% 0 0);
    --color-txtDark: oklch(37.1% 0 0);

    --animate-slideIn: slideIn 100ms ease-in-out;
    --animate-slideOut: slideOut 150ms ease-in-out;
    --animate-shake: shake 0.2s ease-in-out;

    @keyframes slideOut {
        0% {
            opacity: 0;
            transform: scale(0.8) translateX(0);
        }
        100% {
            opacity: 1;
            transform: scale(1) translateX(1px);
        }
    }

    @keyframes slideIn {
        0% {
            opacity: 1;
            transform: scale(1) translateX(1px);
        }
        100% {
            opacity: 0;
            transform: scale(0.8) translateX(0);
        }
    }


    @keyframes shake {
        0%, 100% { transform: translateX(0); }
        25% { transform: translateX(-5px); }
        75% { transform: translateX(5px); }
    }
}

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

@layer base {
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

@layer components {
    .custom-container {
        @apply w-full h-full flex justify-center items-center;
    }

    .screen-container {
        @apply w-screen h-screen flex justify-center items-center;
    }

    .mini-container {
        @apply w-[calc(100%-20%)] h-[calc(100%-30%)] flex justify-center items-center rounded-2xl;
    }

    .content {
        width: var(--radix-select-trigger-width);
        background: var(--color-slate-300);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        z-index: 50;
        border-radius: 1.5rem;
        transform-origin: top left;
        cursor: pointer;
    }

    .content[data-state="open"] {
        animation: var(--animate-slideOut);
    }

    .content[data-state="closed"] {
        animation: var(--animate-slideIn);
    }

    .viewport {
        @apply w-full max-h-[270px] overflow-y-auto p-4;
    }

    .icon-light {
        @apply w-7 text-NavLightTxt;
    }

    .icon-dark {
        @apply w-7 text-NavDarkTxt;
    }

    .card {
        @apply w-full h-20 max-h-20 flex-center gap-3 px-2 py-4 cursor-pointer rounded-2xl overflow-hidden;
    }

}

@layer utilities {
    .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .rounded-inherit {
        border-radius: inherit;
    }

    .rounded-r-inherit {
        border-top-right-radius: inherit;
        border-bottom-right-radius: inherit;
    }

    .text-2xl {
        font-size: 2rem;
        font-weight: 500;
    }

    .text-sm {
        font-size: 0.85rem;
    }

    .text-md {
        font-size: 1rem;
        font-weight: 400;
    }
}
